@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
.container {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  padding: 20px;
  font-family: "Lora", serif;

  background-image: url("src/assets/back.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: transparent;
  padding: 20px 30px; /* smaller padding */
  border-radius: 12px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.7);

  color: #0f172a;
  margin-top: 30px;

  width: fit-content; /* shrink to content */
  min-width: 220px; /* ensures it doesn’t get too tiny */
  margin-top: 160px;
  margin-left: 250px;
  animation: fadeIn 0.3s ease-out;
  backdrop-filter: blur(6px);
}

/* Time style */
.clock {
  font-size: 3rem; /* smaller */
  font-weight: 600;
  letter-spacing: 1px;
  color: #131316;
  text-shadow: 2px 2px 5px rgba(177, 87, 87, 0.6);
}

/* Date style */
.date {
  font-size: 2rem; /* smaller */
  font-weight: 400;
  margin-top: 6px;
  color: #462117;
  text-shadow: 2px 2px 5px rgba(238, 129, 129, 0.6);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
