.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.main {
  display: flex;
  flex: 1;
  height: calc(100vh - 60px);
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #f9fafb;
  overflow-y: auto;
}
